<appSettings>
  <add key="startingGems" value="777500" />
  <!-- Beware, very high value will crash UCS -->
  <add key="startingGold" value="100000000" />
  <!-- Beware, very high value will crash UCS -->
  <add key="startingElixir" value="500000000" />
  <!-- Beware, very high value will crash UCS -->
  <add key="startingDarkElixir" value="10000" />
  <!-- Beware, very high value will crash UCS -->
  <add key="startingTrophies" value="random" />
  <add key="startingShieldTime" value="0" />
  <!-- Initial shield duration in seconds -->
  <add key="clientVersion" value="8.212" />
  <!-- Major version dot Client build -->
  <add key="useCustomPatch" value="false" />
  <!-- Specify if the server is using patches (.csv, .sc, ...) -->
  <add key="UpdateUrl" value="http://ultrapowa.com/" />
  <!-- Specify where to redirect if the CoC version is outdated -->
  <add key="patchingServer" value="http://178.32.9.216/" />
  <!-- Don't forget the trailing slash -->
  <add key="maintenanceMode" value="false" />
  <!-- People trying to connect will see a maintenance message if set to true -->
  <add key="databaseConnectionName" value="ucsdbEntities" />
  <!-- Choose ucsdbEntities for MySql, and edit ucsdbEntities connection string in ucs.exe.config -->
  <add key="loggingLevel" value="5" />
  <!-- Enable logging for debugging, set value to 1 for (almost) no log -->
  <add key="proDebugPort" value ="8888" />
  <!-- Choose the port for Pro Api Manager, by default set value to 1173 -->
  <add key="ApiKey" value="UCSGL" />
  <add key="UCSList - APIKey" value="" />
  <!-- UCS List API Key - Visit www.ucslist.tk for more info - Leave empty for disable -->
</appSettings>